<% layout('layouts/boilerplate') %>
<div class="container"><h1 class="text-center"><b><%= category.name %></b></h1></div>

<div class="container">
    <div class="row offset-1">
        <% category.listings.forEach(listing => { %>
        <div class="col">
            <div class="card card-column">
                <% if (listing.image && listing.image.url) { %>
                    <div class="card" style="width: 16rem">
                    <img src="<%= listing.image.url %>" class="card-img-top" alt="<%= listing.title%>" style="height: 20rem">
                    <% } else { %> 
                        <img src="https://images.unsplash.com/photo-1499793983690-e29da59ef1c2?ixlib=rb-4.0.3&auto=format&fit=crop&w=800&q=60" class="card-image-top" alt="defaultImage">
                        <% } %>
                         <div class="card-body">
            <h5 class="card-title"><%= listing.title %></h5>
            <p class="card-text"><%= listing.description %></p>
            <p class="text-muted"><%= listing.location %></p>
            <a href="/listings/<%= listing._id %>" class="btn btn-dark">View Details</a>
        </div>
          </div>
        
            </div>
           
        </div>
         <% })%>
    </div>
</div> 