<% layout('layouts/boilerplate') %>

    <body>
        <h3 class="mt-3">Edit your listing</h3>
        <br />
        <br />
        <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidation class="needs-validation">
            <div class="row">
                <div class="col-8 offset-2">
                    <div>
                        <label for="title" class="form-label">Title</label>
                        <textarea name="listings[title]" class="form-control mt-2" required>
                        <%=listing.title%></textarea>
                        <div class="invalid-feedback">title is mandatory</div>
                    </div>
                    <div>
                        <label for="description" class="form-label">Description</label>
                        <textarea name="listings[description]" rows="4" cols="20" class="form-control mt-2" required>
<%=listing.description%></textarea>
                        <div class="invalid-feedback">please! enter a short description</div>
                    </div>
                    <div>
                        <label for="image" class="form-label">Image</label>
                        <textarea name="listings[image]" class="form-control mt-2" required>
    <%=listing.image%></textarea>
                        <div class="invalid-feedback">please! enter a valid link</div>
                    </div>


                    <div class="row">
                        <div class="col-md-6 ">
                            <div>
                                <label for="price" class="form-label">Price</label>
                                <textarea name="listings[price]" class="form-control mt-2" required>
<%=listing.price%></textarea>
                                <div class="invalid-feedback">price should be valid</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <label for="country" class="form-label" required>Country</label>
                                <textarea name="listings[country]" class="form-control mt-2">
<%=listing.country%></textarea>
                                <div class="invalid-feedback">country should be valid</div>
                            </div>
                        </div>
                    </div>


                    <div>
                        <label for="location" class="form-label">Location</label>
                        <textarea name="listings[location]" class="form-control mt-2" required>
<%=listing.location%></textarea>
                        <div class="invalid-feedback">location should be valid</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 offset-2">
                        <button class="btn btn-dark edit-btn mt-3">Edit</button>
                    </div>

                </div>
            </div>
            </div>
            </div>
        </form>


    </body>