<% layout('layouts/boilerplate') %>
    <script>
        const mapToken = "<%= process.env.MAP_TOKEN %>";
        const listing = <%- JSON.stringify(listings) %>;
    </script>
    <div class="row">
        <div class="col-8 offset-3">

            <body>
                <h1><b>
                        <%=listings.title%>
                    </b></h1>
        </div>
    </div>
    <div class="row g-0 show-card-img">
        <div class="col-6 offset-3">
            <div class="card show-card">
                <div class="card img-card" style="width: 18rem;">
                    <img src="<%=listings.image.url%>" class="card-img-top show-img" alt="listing_img">
                    <div class="card-body">
                        <b>
                            Owned by <%= listings.owner.username%>
                        </b>
                        <br />
                        <%=listings.description%>
                            <br />

                            <b>Price: </b>
                            <%=listings. price.toLocaleString("en-IN")%>/night.
                                <br />

                                <b>Location: </b>
                                <%=listings.location%>
                                    <br />

                                    <b>Country:</b>
                                    <%=listings.country%>

                                        <br />
                                        <% if(currUser &&currUser._id.equals(listings.owner._id)) { %>
                                            <div class="row">

                                                <div class="col">

                                                    <a href="/listings/<%=listings._id%>/edit"
                                                        class="btn btn-dark edit-btn mt-3">Edit</a>
                                                </div>



                                                <div class="col">
                                                    <form method="POST"
                                                        action="/listings/<%=listings._id%>?_method=DELETE">
                                                        <button class="btn btn-dark dlt-btn mt-3">DELETE</button>
                                                    </form>
                                                </div>
                                            </div>
                                            <% } %>
                    </div>
                </div>
                <hr />
                <div class="col-12">
                    <h3>Where you'll be.</h3>
                    <div id="map"></div>
                </div>



                <div class="col-12">
                    <% if(currUser) { %>
                        <h4><b>Leave a Review</b></h4>
                        <form action="/listings/<%= listings._id%>/reviews" method="POST" novalidate
                            class="needs-validation">
                            <div>
                                <label for="rating" class="form-label">Rating</label>
                                <input type="range" min="1" max="5" id="rating" name="review[rating]"
                                    class="form-control starability-result ">
                            </div>
                            <div>
                                <label for="comment" class="form-label">Leave a Comment</label>
                                <textarea id="comment" name="review[comment]" rows="5" cols="65" class="form-control"
                                    required></textarea>
                                <div class="invalid-feedback">please enter some comment</div>


                                <div class="mt-3">
                                    <button class="btn btn-outline-dark review-btn">Submit</button>
                                </div>

                            </div>

                        </form>
                        <hr />
                        <% } %>

                            <% if(listings.reviews.length> 0) { %>
                                <div class="row">
                                    <h4><b>Reviews</b></h4>
                                    <% for(review of listings.reviews) { %>
                                        <div class="card review-card col-5 ms-3">
                                            <div class="body">
                                                <h3 class="card-title">
                                                    @<%= review.author.username%>
                                                </h3>
                                                <p class="card-text">
                                                    <%=review.comment%>
                                                </p>
                                                <p class="starability-result card-text">
                                                    Rating= <%=review.rating%>
                                                </p>
                                            </div>
                                            <% if(currUser) {%>
                                                <form class="mt-2" method="POST"
                                                    action="/listings/<%=listings._id%>/reviews/<%=review._id%>?_method=DELETE">
                                                    <button class="btn btn-dark btn-xs">Delete</button>
                                                </form>
                                                <% } %>
                                        </div>
                                        <% } %>



                                            <% } %>
                                </div>


                </div>
            </div>








        </div>
    </div>




    <hr />
    <script src="/js/map.js"></script>
    </body>